@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("form.css");
@import url("table-data.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    background: #f5f5f5;
}

main {
    margin: 4rem auto 1em;
    width: 80%;
}

.perdin-app_header {
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4
}

.header-item {
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.header-item>h2 {
    flex: 1 1;
    font-weight: 400;
    padding: 10px 16px;
}

.header-item ul li {
    display: inline-block;
    padding: 16px;
}

.header-item ul li a {
    text-decoration: none;
    color: #252525;
}

.header-item button {
    background: transparent;
    font-family: "Inter", sans-serif;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-item button:hover,
.header-item ul li a:hover {
    text-decoration: underline;
}

.perdin-list>h3 {
    text-align: center;
    padding: 1.5rem;
}

.perdin-data {
    font-size: .9rem;
}

.perdin-status {
    padding: 5px;
    border-radius: 20px;
}

.city-page>h1 {
    text-align: center;
    padding: 1.5rem;
}

.add-city {
    padding-bottom: 1rem;
    text-align: end;
}

.add-city>button {
    padding: 8px;
    border: 1px solid #252525;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}

.action-box {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.edit-btn {
    color: dodgerblue;
}

.trash-btn {
    color: red;
}

.action-box>svg {
    cursor: pointer;
    font-size: 1.25rem;
}