table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

thead {
    background-color: #ddd;
    text-align: center;
}

tbody {
    background-color: #eeeeee;
}

tr {
    border-bottom: 1px solid #ddd;
}

.cost-table tbody {
    text-align: center;
}

.city-page thead,
.city-page tbody tr,
.cost-table thead,
.cost-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.city-page tbody {
    display: block;
    overflow-y: auto;
}

.city-page th,
.perdin-list th {
    padding: 8px;
}

.city-page td {
    padding: 1rem;
}

.perdin-list td {
    padding: .8rem;
}